header {
    display: flex;
    padding: 30px 275px 36px 270px;
    background-color: #181E34;
    align-items: center;
    width: 1440px;
    height: 114px;
    justify-content: center;
    gap: 410px;
}
.img_h {
    width: 48px;
    height: 48px;
}
.elements {
    display: flex;
    gap: 34px;
    align-items: center;
    width: 437px;
    height: 48px;
}
.flexh {
    display: flex;
    gap: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', Courier, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.button-h {
    border-radius: 100px;
    padding: 14px 30px;
    color: #2766AE;
    background-color: #FFFFFF;
    font-family: 'Montserrat', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
}

.section-1{
    display: flex;
    width: 1440px;
    height: 508px;
    background-image: url(../Rectangle-1.png);
    flex-direction: column;
    grid-template-columns: 15px 10px;
}
.but-sect {
    display: flex;
    width: 260px;
    height: 20px;
    padding: 18px 30px;
    border-radius: 100px;
    align-items: start; 
}
.h1 {
    align-self: center;
}
